[Unit]
Description=nvhda resume
After=suspend.target

[Service]
Type=oneshot
ExecStart=/bin/echo "ON" >/proc/acpi/nvhda

[Install]
WantedBy=suspend.target

