[Unit]
Description=nvhda suspend
Before=sleep.target

[Service]
Type=oneshot
ExecStart=/bin/echo "OFF" >/proc/acpi/nvhda

[Install]
WantedBy=sleep.target

