[Unit]
Description=nvhda start
Before=getty@tty1.service getty@tty2.service getty@tty3.service getty@tty4.service getty@tty5.service getty@tty6.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/bin/echo ON >/proc/acpi/nvhda"

[Install]
WantedBy=default.target
